.App {
  text-align: center;
}
.rooms {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;

}
.room {
  padding: 1em;
  border: 1px solid black;
}
.filter {
  padding: 2em;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: burlywood;
}
.filter input {
  color: black;
  border:0;
  padding:1em;
  font-weight: 600;
  margin: 0.2em;


}